@use 'vars';
@use 'theme';
@use 'mixins';

body {
  margin: 0;
}

#rickmorty-app {
  * {
    font-family: "Roboto", serif;
  }
  header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--shirt);
    z-index: 999;
    @media(max-width: vars.$screen-sm) {
      padding: 10px;
    }
    img {
      border-radius: 10px;
      background-color: var(--blue-500);
    }
    .menu-action {
      display: flex;
      flex-direction: column;
      gap: 5px;
      background-color: rgba(0,0,0,0);
      @include mixins.resetBtn;
      span {
        width: 30px;
        height: 3px;
        border-radius: 10px;
        background-color: var(--dark);
      }
    }
    .menu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: var(--shirt);
      ul {
        margin: 0 0 40px;
        padding: 0 0 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        border-bottom: 1px solid var(--dark);
      }
      .link {
        color: var(--dark);
        font-size: 52px;
        text-align: center;
        text-decoration: none;
        transition: all 300ms ease-out;
        @media(max-width: vars.$screen-sm) {
          font-size: 36px;
        }
        &:hover {
          color: var(--brown);
        }
      }
      button {
        @include mixins.resetBtn;
        background-color: rgba(0,0,0,0);
      }
      &.visible {
        display: flex;
      }
    }
  }
  main {
    .episode-detail {
      display: flex;
      flex-direction: column;
      background-color: var(--light);
      color: var(--dark);
      .episode-header {
        height: 400px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--dark);
        background-size: auto 400px;
        background-repeat: no-repeat;
        background-position: top center;
        background-image: url('https://imagenes.20minutos.es/files/image_1920_1080/uploads/imagenes/2023/12/21/rick-y-morty-temporada-7-episodio-10.jpeg');
        h1 {
          color: #fff;
          padding: 20px 30px;
          background-color: rgba(0,0,0,.7);
        }
      }
      .characters-carousel {
        overflow: hidden;
        .characters-list {
          padding: 10px;
          display: flex;
          flex-direction: row;
          gap: 10px;
          overflow: scroll;
          list-style: none;
          li {
            min-width: 200px;
            height: 200px;
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            flex-direction: column;
            padding: 10px;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 2px 10px rgba(0,0,0,.1);
            background-image: var(--bg-image);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            transition: all 300ms ease-out;
            &:hover {
              background-size: 250px;
              cursor: pointer;
              &:before {
                background-color: rgba(0,0,0,.3);
              }
            }
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: rgba(0,0,0,.6);
              transition: all 300ms ease-out;
            }
            p {
              margin: 5px 0 0;
              font-size: 20px;
              font-weight: 600;
              color: var(--light);
              z-index: 2;
            }
            .tag-status {
              z-index: 2;
              padding: 5px;
              border-radius: 5px;
              font-size: 12px;
              font-weight: 600;
              line-height: 12px;
              text-transform: uppercase;
              color: var(--dark);
              background-color: var(--shirt);
            }
          }
          /*img {
            border-radius: 100px;
          }*/
        }
      }
    }
  }
  footer {
    height: 40vh;
    padding: 60px;
    text-align: center;
    color: var(--light);
    background-color: var(--brown);
  }
}
