#rickmorty-app {
  .wrapper {
    --dark: #000;
    --light: #fff;
    --border-color: #c8c8c8;
    --bg: var(--light);
    --color: var(--dark);
    --primary: #a6936c;
    --secondary: #b963c9;
    --gray-100: #e3dede;
    --gray-200: #bbb;
    --gray-300: #aaa;
    --blue-100: #a9f3fd;
    --blue-200: #87d1db;
    --blue-300: #4cb5c3;
    --blue-400: #02afc5;
    --blue-500: #35c9dd;
    --brown: #a6936c;
    --shirt: #97d7d6;
    --switch-theme: #e8e84f;
    --overlay: 143, 143, 143;
    &.dark {
      --border-color: #c8c8c8;
      --bg: var(--dark);
      --color: var(--light);
      --blue-100: #02afc5;
      --blue-200: #35c9dd;
      --blue-300: #4cb5c3;
      --blue-400: #87d1db;
      --blue-500: #a9f3fd;
      --brown: #6e6837;
      --shirt: #1C4274;
      --switch-theme: #717109;
      --overlay: 0,0,0;
    }
  }
}

